
.titulo{
	text-align: center;
}

.principal{
	padding-top: 40px;
}

.texto-apresentacao{
	text-align: center;
}

.app{
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 10px; 
}

.keys{
	padding-top: 30px;
}

.eliminar_app{
	float: 
}

.texto, p{
	font-size: 16px;
}
